.jobDetails {
    margin: 60px auto;
    padding: 70px 80px;
}

.jobDetailsButton{
    margin: 20px;
    padding: 15px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background: #03a9f4;
    border: none;
    border-radius: 10px;
}

.actions{
    margin: 50px;
}
