.jobsPage{
    padding: 40px 80px;
    margin: 0 auto;
}

.jobListings {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 40px;
}

.jobsPageTitle {
    text-align: center;
}

.jobsPageTitle h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1px;
}

.coloredText{
    color: #03a9f4;
}

.addJobButton{
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    background: #03a9f4;
    border: none;
    border-radius: 14px;
    box-shadow: 1px 1px 5px 1px #4E4E4E;
}

.addJobButton:hover{
    color: black
}

.addJobButtonWrapper{
    margin-top: 50px;
}

.jobSearchForm{
    margin: 20px;
}

.hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.searchButton{
    padding: 8px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 15px;
    background: #03a9f4;
    border: none;
    border-radius: 14px;
    box-shadow: 1px 1px 5px 1px #4E4E4E;
    margin: 10px;
}

.searchInput {
    font-size: 14px;
    line-height: 20px;
    height: 34px;
    width: 380px;
    border: 1px solid #CCCCCC;
    padding: 6px 12px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px -1px #CCCCCC;
}

.searchInput:focus{
    border: 1px solid #03a9f4;
    box-shadow: 1px 1px 7px -1px #03a9f4;
    outline: none
}