.jobsPage{
    padding: 40px 80px;
    margin: 0 auto;
}

.jobListings {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 40px;
}

.jobsPageTitle {
    text-align: center;;
}

.jobsPageTitle h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1px;
}

.coloredText{
    color: #03a9f4;
}

.addJobButton{
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    background: #03a9f4;
    border: none;
    border-radius: 14px;
    box-shadow: 1px 1px 5px 1px #4E4E4E;
}

.addJobButton:hover{
    color: black
}

.addJobButtonWrapper{
    margin-top: 50px;
}