.selectCandidate{
    border-radius: 2px;
    height: 26px;
    width: 200px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.selectCandidate:focus{
    border: 1px solid #03a9f4;
    box-shadow: 1px 1px 7px -1px #03a9f4;
    outline: none
}