.loginPage {
    padding: 10px 80px 100px 80px;
    color: #4E4E4E;
}

.loginPageTitle{
    margin-bottom: 20px;
}

.loginPageTitle h1{
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;
}

.field{
    margin-top: 15px;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 24px;
}
.loginFormField{
    margin: 15px 0;
}

.loginFormFieldLabel{
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    margin-bottom: 10px;
    color: #505050
}

.loginFormFieldInput{
    display: block;
    font-size: 14px;
    line-height: 20px;
    height: 34px;
    width: 380px;
    border: 1px solid #CCCCCC;
    padding: 6px 12px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px -1px #CCCCCC;
}

.loginBtn{
    background: #337AB7;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    height: 34px;
    width: 78px;
    vertical-align: middle;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 15px;
}

.linkBtn{
    text-decoration: none;
    color: #337AB7;
}