.candidateProfile{
    margin: 40px auto;
    padding: 70px 80px;
}
.candidateProfileEmail{
    margin-bottom: 20px
}

.bookButton{
    border: 1px solid darkgrey;
    border-radius: 6px;
    font-size: 15px;
    padding: 12px;
    margin-top: 15px;
}

.candidateActions{
    margin-top: 30px;
}

#availableJobs{
    margin-left: 10px;
}