.candidateProfile{
    margin: 40px auto;
    padding: 70px 80px;
}
.candidateProfileEmail{
    margin-bottom: 20px
}

.bookButton{
    border: 1px solid darkgrey;
    border-radius: 6px;
    font-size: 15px;
    padding: 15px;
    margin-top: 15px;
}

#availableJobs{
    margin-left: 10px;
}

.cvLink{
    text-decoration: none;
    color: #505050;
}

.cvLink:hover{
    text-decoration: underline;
}

.approveBtn{
    background: #21C65E;
}

.rejectBtn{
    background: #EF534B;
}

.reject{
    margin-right: 5px;
}
