.modal-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6rem 3rem;
    border: 1px solid darkgrey;
    color: white;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(217,0,0,1) 0%, rgba(219,100,100,1) 50%, rgba(237,172,19,0.969625350140056) 100%);
    box-shadow: 1px 1px 5px 1px #4E4E4E;
}

.close-modal-btn{
  color: inherit;
  font-family:inherit;
  font-size: inherit;
  padding: 0.3rem 3.4rem;
  border: 1px solid darkgrey;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
  border-radius: 5px;
  color: black;
  font-weight: 600;
}

.close-modal-btn:last-child{
    margin: 0;
}

.close-modal-btn:hover{
    box-shadow: 1px 1px 5px 1px #4E4E4E;
    transform: translate(-0.4rem, -0.4rem);
}

.close-modal-btn:active{
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

.modal-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}